*.d
*.o
ColumnNonNumericTest
ColumnNumericTest
DenseNonNumericTest
DenseNumericTest
RowNonNumericTest
RowNumericTest
SparseNonNumericTest
SparseNumericTest
SubmatrixNonNumericTest
SubmatrixNumericTest

