*.d
*.o
AliasingTest
D3x3aD3x3a
D3x3aD3x3b
D3x3bD3x3a
D3x3bD3x3b
DDaDDa
DDaDDb
DDaHDa
DDaHDb
DDaLDa
DDaLDb
DDaMDa
DDaMDb
DDaSDa
DDaSDb
DDaUDa
DDaUDb
DDbDDa
DDbDDb
DDbHDa
DDbHDb
DDbLDa
DDbLDb
DDbMDa
DDbMDb
DDbSDa
DDbSDb
DDbUDa
DDbUDb
DHaDHa
DHaDHb
DHbDHa
DHbDHb
H3x3aH3x3a
H3x3aH3x3b
H3x3bH3x3a
H3x3bH3x3b
HDaDDa
HDaDDb
HDaHDa
HDaHDb
HDaLDa
HDaLDb
HDaMDa
HDaMDb
HDaSDa
HDaSDb
HDaUDa
HDaUDb
HDbDDa
HDbDDb
HDbHDa
HDbHDb
HDbLDa
HDbLDb
HDbMDa
HDbMDb
HDbSDa
HDbSDb
HDbUDa
HDbUDb
HHaHHa
HHaHHb
HHbHHa
HHbHHb
L3x3aL3x3a
L3x3aL3x3b
L3x3bL3x3a
L3x3bL3x3b
LDaDDa
LDaDDb
LDaHDa
LDaHDb
LDaLDa
LDaLDb
LDaMDa
LDaMDb
LDaSDa
LDaSDb
LDaUDa
LDaUDb
LDbDDa
LDbDDb
LDbHDa
LDbHDb
LDbLDa
LDbLDb
LDbMDa
LDbMDb
LDbSDa
LDbSDb
LDbUDa
LDbUDb
LHaLHa
LHaLHb
LHbLHa
LHbLHb
M2x2aM2x2a
M2x2aM2x2b
M2x2aMDa
M2x2aMDb
M2x2bM2x2a
M2x2bM2x2b
M2x2bMDa
M2x2bMDb
M3x3aM3x3a
M3x3aM3x3b
M3x3aMDa
M3x3aMDb
M3x3bM3x3a
M3x3bM3x3b
M3x3bMDa
M3x3bMDb
M4x4aM4x4a
M4x4aM4x4b
M4x4aMDa
M4x4aMDb
M4x4bM4x4a
M4x4bM4x4b
M4x4bMDa
M4x4bMDb
M5x5aM5x5a
M5x5aM5x5b
M5x5aMDa
M5x5aMDb
M5x5bM5x5a
M5x5bM5x5b
M5x5bMDa
M5x5bMDb
M6x6aM6x6a
M6x6aM6x6b
M6x6aMDa
M6x6aMDb
M6x6aMHa
M6x6aMHb
M6x6aMUa
M6x6aMUb
M6x6bM6x6a
M6x6bM6x6b
M6x6bMDa
M6x6bMDb
M6x6bMHa
M6x6bMHb
M6x6bMUa
M6x6bMUb
M7x13aM7x13a
M7x13aM7x13b
M7x13aMDa
M7x13aMDb
M7x13bM7x13a
M7x13bM7x13b
M7x13bMDa
M7x13bMDb
M16x8aM16x8a
M16x8aM16x8b
M16x8aMDa
M16x8aMDb
M16x8bM16x8a
M16x8bM16x8b
M16x8bMDa
M16x8bMDb
MDaDDa
MDaDDb
MDaHDa
MDaHDb
MDaLDa
MDaLDb
MDaM2x2a
MDaM2x2b
MDaM3x3a
MDaM3x3b
MDaM4x4a
MDaM4x4b
MDaM5x5a
MDaM5x5b
MDaM6x6a
MDaM6x6b
MDaM7x13a
MDaM7x13b
MDaM16x8a
MDaM16x8b
MDaMDa
MDaMDb
MDaMHa
MDaMHb
MDaMUa
MDaMUb
MDaSDa
MDaSDb
MDaUDa
MDaUDb
MDbDDa
MDbDDb
MDbHDa
MDbHDb
MDbLDa
MDbLDb
MDbM2x2a
MDbM2x2b
MDbM3x3a
MDbM3x3b
MDbM4x4a
MDbM4x4b
MDbM5x5a
MDbM5x5b
MDbM6x6a
MDbM6x6b
MDbM7x13a
MDbM7x13b
MDbM16x8a
MDbM16x8b
MDbMDa
MDbMDb
MDbMHa
MDbMHb
MDbMUa
MDbMUb
MDbSDa
MDbSDb
MDbUDa
MDbUDb
MHaM6x6a
MHaM6x6b
MHaMDa
MHaMDb
MHaMHa
MHaMHb
MHaMUa
MHaMUb
MHbM6x6a
MHbM6x6b
MHbMDa
MHbMDb
MHbMHa
MHbMHb
MHbMUa
MHbMUb
MUaM6x6a
MUaM6x6b
MUaMDa
MUaMDb
MUaMHa
MUaMHb
MUaMUa
MUaMUb
MUbM6x6a
MUbM6x6b
MUbMDa
MUbMDb
MUbMHa
MUbMHb
MUbMUa
MUbMUb
S3x3aS3x3a
S3x3aS3x3b
S3x3bS3x3a
S3x3bS3x3b
SDaDDa
SDaDDb
SDaHDa
SDaHDb
SDaLDa
SDaLDb
SDaMDa
SDaMDb
SDaSDa
SDaSDb
SDaUDa
SDaUDb
SDbDDa
SDbDDb
SDbHDa
SDbHDb
SDbLDa
SDbLDb
SDbMDa
SDbMDb
SDbSDa
SDbSDb
SDbUDa
SDbUDb
SHaSHa
SHaSHb
SHbSHa
SHbSHb
U3x3aU3x3a
U3x3aU3x3b
U3x3bU3x3a
U3x3bU3x3b
UDaDDa
UDaDDb
UDaHDa
UDaHDb
UDaLDa
UDaLDb
UDaMDa
UDaMDb
UDaSDa
UDaSDb
UDaUDa
UDaUDb
UDbDDa
UDbDDb
UDbHDa
UDbHDb
UDbLDa
UDbLDb
UDbMDa
UDbMDb
UDbSDa
UDbSDb
UDbUDa
UDbUDb
UHaUHa
UHaUHb
UHbUHa
UHbUHb

