*.d
*.o
AliasingTest
D3x3aDCa
D3x3aDCb
D3x3bDCa
D3x3bDCb
DDaDCa
DDaDCb
DDaHCa
DDaHCb
DDaLCa
DDaLCb
DDaMCa
DDaMCb
DDaMIa
DDaMIb
DDaMZa
DDaMZb
DDaSCa
DDaSCb
DDaUCa
DDaUCb
DDbDCa
DDbDCb
DDbHCa
DDbHCb
DDbLCa
DDbLCb
DDbMCa
DDbMCb
DDbMIa
DDbMIb
DDbMZa
DDbMZb
DDbSCa
DDbSCb
DDbUCa
DDbUCb
DHaDCa
DHaDCb
DHbDCa
DHbDCb
H3x3aHCa
H3x3aHCb
H3x3bHCa
H3x3bHCb
HDaDCa
HDaDCb
HDaHCa
HDaHCb
HDaLCa
HDaLCb
HDaMCa
HDaMCb
HDaMIa
HDaMIb
HDaMZa
HDaMZb
HDaSCa
HDaSCb
HDaUCa
HDaUCb
HDbDCa
HDbDCb
HDbHCa
HDbHCb
HDbLCa
HDbLCb
HDbMCa
HDbMCb
HDbMIa
HDbMIb
HDbMZa
HDbMZb
HDbSCa
HDbSCb
HDbUCa
HDbUCb
HHaHCa
HHaHCb
HHbHCa
HHbHCb
L3x3aLCa
L3x3aLCb
L3x3bLCa
L3x3bLCb
LDaDCa
LDaDCb
LDaHCa
LDaHCb
LDaLCa
LDaLCb
LDaMCa
LDaMCb
LDaMIa
LDaMIb
LDaMZa
LDaMZb
LDaSCa
LDaSCb
LDaUCa
LDaUCb
LDbDCa
LDbDCb
LDbHCa
LDbHCb
LDbLCa
LDbLCb
LDbMCa
LDbMCb
LDbMIa
LDbMIb
LDbMZa
LDbMZb
LDbSCa
LDbSCb
LDbUCa
LDbUCb
LHaLCa
LHaLCb
LHbLCa
LHbLCb
M2x2aMCa
M2x2aMCb
M2x2bMCa
M2x2bMCb
M3x3aMCa
M3x3aMCb
M3x3aMIa
M3x3aMIb
M3x3aMZa
M3x3aMZb
M3x3bMCa
M3x3bMCb
M3x3bMIa
M3x3bMIb
M3x3bMZa
M3x3bMZb
M4x4aMCa
M4x4aMCb
M4x4bMCa
M4x4bMCb
M5x5aMCa
M5x5aMCb
M5x5bMCa
M5x5bMCb
M6x6aMCa
M6x6aMCb
M6x6bMCa
M6x6bMCb
M7x13aMCa
M7x13aMCb
M7x13bMCa
M7x13bMCb
M16x8aMCa
M16x8aMCb
M16x8bMCa
M16x8bMCb
MDaDCa
MDaDCb
MDaHCa
MDaHCb
MDaLCa
MDaLCb
MDaMCa
MDaMCb
MDaMIa
MDaMIb
MDaMZa
MDaMZb
MDaSCa
MDaSCb
MDaUCa
MDaUCb
MDbDCa
MDbDCb
MDbHCa
MDbHCb
MDbLCa
MDbLCb
MDbMCa
MDbMCb
MDbMIa
MDbMIb
MDbMZa
MDbMZb
MDbSCa
MDbSCb
MDbUCa
MDbUCb
MHaMCa
MHaMCb
MHaMIa
MHaMIb
MHaMZa
MHaMZb
MHbMCa
MHbMCb
MHbMIa
MHbMIb
MHbMZa
MHbMZb
MUaMCa
MUaMCb
MUaMIa
MUaMIb
MUaMZa
MUaMZb
MUbMCa
MUbMCb
MUbMIa
MUbMIb
MUbMZa
MUbMZb
S3x3aSCa
S3x3aSCb
S3x3bSCa
S3x3bSCb
SDaDCa
SDaDCb
SDaHCa
SDaHCb
SDaLCa
SDaLCb
SDaMCa
SDaMCb
SDaMIa
SDaMIb
SDaMZa
SDaMZb
SDaSCa
SDaSCb
SDaUCa
SDaUCb
SDbDCa
SDbDCb
SDbHCa
SDbHCb
SDbLCa
SDbLCb
SDbMCa
SDbMCb
SDbMIa
SDbMIb
SDbMZa
SDbMZb
SDbSCa
SDbSCb
SDbUCa
SDbUCb
SHaSCa
SHaSCb
SHbSCa
SHbSCb
U3x3aUCa
U3x3aUCb
U3x3bUCa
U3x3bUCb
UDaDCa
UDaDCb
UDaHCa
UDaHCb
UDaLCa
UDaLCb
UDaMCa
UDaMCb
UDaMIa
UDaMIb
UDaMZa
UDaMZb
UDaSCa
UDaSCb
UDaUCa
UDaUCb
UDbDCa
UDbDCb
UDbHCa
UDbHCb
UDbLCa
UDbLCb
UDbMCa
UDbMCb
UDbMIa
UDbMIb
UDbMZa
UDbMZb
UDbSCa
UDbSCb
UDbUCa
UDbUCb
UHaUCa
UHaUCb
UHbUCa
UHbUCb

