*.d
*.o
D3x3aD3x3a
D3x3aD3x3b
D3x3bD3x3a
D3x3bD3x3b
DDaDDa
DDaDDb
DDaHDa
DDaHDb
DDaLDa
DDaLDb
DDaMDa
DDaMDb
DDaSDa
DDaSDb
DDaUDa
DDaUDb
DDbDDa
DDbDDb
DDbHDa
DDbHDb
DDbLDa
DDbLDb
DDbMDa
DDbMDb
DDbSDa
DDbSDb
DDbUDa
DDbUDb
DHaDHa
DHaDHb
DHbDHa
DHbDHb
H3x3aH3x3a
H3x3aH3x3b
H3x3bH3x3a
H3x3bH3x3b
HDaDDa
HDaDDb
HDaHDa
HDaHDb
HDaLDa
HDaLDb
HDaMDa
HDaMDb
HDaSDa
HDaSDb
HDaUDa
HDaUDb
HDbDDa
HDbDDb
HDbHDa
HDbHDb
HDbLDa
HDbLDb
HDbMDa
HDbMDb
HDbSDa
HDbSDb
HDbUDa
HDbUDb
HHaHHa
HHaHHb
HHbHHa
HHbHHb
L3x3aL3x3a
L3x3aL3x3b
L3x3bL3x3a
L3x3bL3x3b
LDaDDa
LDaDDb
LDaHDa
LDaHDb
LDaLDa
LDaLDb
LDaMDa
LDaMDb
LDaSDa
LDaSDb
LDaUDa
LDaUDb
LDbDDa
LDbDDb
LDbHDa
LDbHDb
LDbLDa
LDbLDb
LDbMDa
LDbMDb
LDbSDa
LDbSDb
LDbUDa
LDbUDb
LHaLHa
LHaLHb
LHbLHa
LHbLHb
M3x3aM3x3a
M3x3aM3x3b
M3x3aMDa
M3x3aMDb
M3x3bM3x3a
M3x3bM3x3b
M3x3bMDa
M3x3bMDb
MDaDDa
MDaDDb
MDaHDa
MDaHDb
MDaLDa
MDaLDb
MDaM3x3a
MDaM3x3b
MDaMDa
MDaMDb
MDaMHa
MDaMHb
MDaMUa
MDaMUb
MDaSDa
MDaSDb
MDaUDa
MDaUDb
MDbDDa
MDbDDb
MDbHDa
MDbHDb
MDbLDa
MDbLDb
MDbM3x3a
MDbM3x3b
MDbMDa
MDbMDb
MDbMHa
MDbMHb
MDbMUa
MDbMUb
MDbSDa
MDbSDb
MDbUDa
MDbUDb
MHaM3x3a
MHaM3x3b
MHaMDa
MHaMDb
MHaMHa
MHaMHb
MHaMUa
MHaMUb
MHbM3x3a
MHbM3x3b
MHbMDa
MHbMDb
MHbMHa
MHbMHb
MHbMUa
MHbMUb
MUaM3x3a
MUaM3x3b
MUaMDa
MUaMDb
MUaMHa
MUaMHb
MUaMUa
MUaMUb
MUbM3x3a
MUbM3x3b
MUbMDa
MUbMDb
MUbMHa
MUbMHb
MUbMUa
MUbMUb
S3x3aS3x3a
S3x3aS3x3b
S3x3bS3x3a
S3x3bS3x3b
SDaDDa
SDaDDb
SDaHDa
SDaHDb
SDaLDa
SDaLDb
SDaMDa
SDaMDb
SDaSDa
SDaSDb
SDaUDa
SDaUDb
SDbDDa
SDbDDb
SDbHDa
SDbHDb
SDbLDa
SDbLDb
SDbMDa
SDbMDb
SDbSDa
SDbSDb
SDbUDa
SDbUDb
SHaSHa
SHaSHb
SHbSHa
SHbSHb
U3x3aU3x3a
U3x3aU3x3b
U3x3bU3x3a
U3x3bU3x3b
UDaDDa
UDaDDb
UDaHDa
UDaHDb
UDaLDa
UDaLDb
UDaMDa
UDaMDb
UDaSDa
UDaSDb
UDaUDa
UDaUDb
UDbDDa
UDbDDb
UDbHDa
UDbHDb
UDbLDa
UDbLDb
UDbMDa
UDbMDb
UDbSDa
UDbSDb
UDbUDa
UDbUDb
UHaUHa
UHaUHb
UHbUHa
UHbUHb

