*.d
*.o
AliasingTest
VCaDDa
VCaDDb
VCaHDa
VCaHDb
VCaLDa
VCaLDb
VCaM2x2a
VCaM2x2b
VCaM3x3a
VCaM3x3b
VCaM4x4a
VCaM4x4b
VCaM5x5a
VCaM5x5b
VCaM6x6a
VCaM6x6b
VCaM7x13a
VCaM7x13b
VCaM16x8a
VCaM16x8b
VCaMDa
VCaMDb
VCaMHa
VCaMHb
VCaMUa
VCaMUb
VCaSDa
VCaSDb
VCaSLDa
VCaSLDb
VCaSUDa
VCaSUDb
VCaUDa
VCaUDb
VCbDDa
VCbDDb
VCbHDa
VCbHDb
VCbLDa
VCbLDb
VCbM2x2a
VCbM2x2b
VCbM3x3a
VCbM3x3b
VCbM4x4a
VCbM4x4b
VCbM5x5a
VCbM5x5b
VCbM6x6a
VCbM6x6b
VCbM7x13a
VCbM7x13b
VCbM16x8a
VCbM16x8b
VCbMDa
VCbMDb
VCbMHa
VCbMHb
VCbMUa
VCbMUb
VCbSDa
VCbSDb
VCbSLDa
VCbSLDb
VCbSUDa
VCbSUDb
VCbUDa
VCbUDb

