*.d
*.o
AliasingTest
D3x3aD3x3a
D3x3aD3x3b
D3x3bD3x3a
D3x3bD3x3b
DDaDDa
DDaDDb
DDaHDa
DDaHDb
DDaLDa
DDaLDb
DDaMDa
DDaMDb
DDaSDa
DDaSDb
DDaUDa
DDaSLDa
DDaSLDb
DDaSUDa
DDaSUDb
DDaUDb
DDbDDa
DDbDDb
DDbHDa
DDbHDb
DDbLDa
DDbLDb
DDbMDa
DDbMDb
DDbSDa
DDbSDb
DDbSLDa
DDbSLDb
DDbSUDa
DDbSUDb
DDbUDa
DDbUDb
DHaDHa
DHaDHb
DHbDHa
DHbDHb
H3x3aH3x3a
H3x3aH3x3b
H3x3bH3x3a
H3x3bH3x3b
HDaDDa
HDaDDb
HDaHDa
HDaHDb
HDaLDa
HDaLDb
HDaMDa
HDaMDb
HDaSDa
HDaSDb
HDaUDa
HDaSLDa
HDaSLDb
HDaSUDa
HDaSUDb
HDaUDb
HDbDDa
HDbDDb
HDbHDa
HDbHDb
HDbLDa
HDbLDb
HDbMDa
HDbMDb
HDbSDa
HDbSDb
HDbSLDa
HDbSLDb
HDbSUDa
HDbSUDb
HDbUDa
HDbUDb
HHaHHa
HHaHHb
HHbHHa
HHbHHb
L3x3aL3x3a
L3x3aL3x3b
L3x3bL3x3a
L3x3bL3x3b
LDaDDa
LDaDDb
LDaHDa
LDaHDb
LDaLDa
LDaLDb
LDaMDa
LDaMDb
LDaSDa
LDaSDb
LDaSLDa
LDaSLDb
LDaSUDa
LDaSUDb
LDaUDa
LDaUDb
LDbDDa
LDbDDb
LDbHDa
LDbHDb
LDbLDa
LDbLDb
LDbMDa
LDbMDb
LDbSDa
LDbSDb
LDbSLDa
LDbSLDb
LDbSUDa
LDbSUDb
LDbUDa
LDbUDb
LHaLHa
LHaLHb
LHbLHa
LHbLHb
M2x2aM2x2a
M2x2aM2x2b
M2x2aMDa
M2x2aMDb
M2x2bM2x2a
M2x2bM2x2b
M2x2bMDa
M2x2bMDb
M3x3aM3x3a
M3x3aM3x3b
M3x3aMDa
M3x3aMDb
M3x3bM3x3a
M3x3bM3x3b
M3x3bMDa
M3x3bMDb
M4x4aM4x4a
M4x4aM4x4b
M4x4aMDa
M4x4aMDb
M4x4bM4x4a
M4x4bM4x4b
M4x4bMDa
M4x4bMDb
M5x5aM5x5a
M5x5aM5x5b
M5x5aMDa
M5x5aMDb
M5x5bM5x5a
M5x5bM5x5b
M5x5bMDa
M5x5bMDb
M5x7aM7x5a
M5x7aM7x5b
M5x7aM7x9a
M5x7aM7x9b
M5x7aMDa
M5x7aMDb
M5x7bM7x5a
M5x7bM7x5b
M5x7bM7x9a
M5x7bM7x9b
M5x7bMDa
M5x7bMDb
M6x6aM6x6a
M6x6aM6x6b
M6x6aMDa
M6x6aMDb
M6x6aMHa
M6x6aMHb
M6x6aMUa
M6x6aMUb
M6x6bM6x6a
M6x6bM6x6b
M6x6bMDa
M6x6bMDb
M6x6bMHa
M6x6bMHb
M6x6bMUa
M6x6bMUb
M9x7aM7x5a
M9x7aM7x5b
M9x7aM7x9a
M9x7aM7x9b
M9x7aMDa
M9x7aMDb
M9x7bM7x5a
M9x7bM7x5b
M9x7bM7x9a
M9x7bM7x9b
M9x7bMDa
M9x7bMDb
MDaDDa
MDaDDb
MDaHDa
MDaHDb
MDaLDa
MDaLDb
MDaM2x2a
MDaM2x2b
MDaM3x3a
MDaM3x3b
MDaM4x4a
MDaM4x4b
MDaM5x5a
MDaM5x5b
MDaM6x6a
MDaM6x6b
MDaM7x5a
MDaM7x5b
MDaM7x9a
MDaM7x9b
MDaMDa
MDaMDb
MDaMHa
MDaMHb
MDaMUa
MDaMUb
MDaSDa
MDaSDb
MDaSLDa
MDaSLDb
MDaSUDa
MDaSUDb
MDaUDa
MDaUDb
MDbDDa
MDbDDb
MDbHDa
MDbHDb
MDbLDa
MDbLDb
MDbM2x2a
MDbM2x2b
MDbM3x3a
MDbM3x3b
MDbM4x4a
MDbM4x4b
MDbM5x5a
MDbM5x5b
MDbM6x6a
MDbM6x6b
MDbM7x5a
MDbM7x5b
MDbM7x9a
MDbM7x9b
MDbMDa
MDbMDb
MDbMHa
MDbMHb
MDbMUa
MDbMUb
MDbSDa
MDbSDb
MDbSLDa
MDbSLDb
MDbSUDa
MDbSUDb
MDbUDa
MDbUDb
MHaM6x6a
MHaM6x6b
MHaMDa
MHaMDb
MHaMHa
MHaMHb
MHaMUa
MHaMUb
MHbM6x6a
MHbM6x6b
MHbMDa
MHbMDb
MHbMHa
MHbMHb
MHbMUa
MHbMUb
MUaM6x6a
MUaM6x6b
MUaMDa
MUaMDb
MUaMHa
MUaMHb
MUaMUa
MUaMUb
MUbM6x6a
MUbM6x6b
MUbMDa
MUbMDb
MUbMHa
MUbMHb
MUbMUa
MUbMUb
S3x3aS3x3a
S3x3aS3x3b
S3x3bS3x3a
S3x3bS3x3b
SDaDDa
SDaDDb
SDaHDa
SDaHDb
SDaLDa
SDaLDb
SDaMDa
SDaMDb
SDaSDa
SDaSDb
SDaSLDa
SDaSLDb
SDaSUDa
SDaSUDb
SDaUDa
SDaUDb
SDbDDa
SDbDDb
SDbHDa
SDbHDb
SDbLDa
SDbLDb
SDbMDa
SDbMDb
SDbSDa
SDbSDb
SDbSLDa
SDbSLDb
SDbSUDa
SDbSUDb
SDbUDa
SDbUDb
SHaSHa
SHaSHb
SHbSHa
SHbSHb
SL3x3aSL3x3a
SL3x3aSL3x3b
SL3x3bSL3x3a
SL3x3bSL3x3b
SLDaDDa
SLDaDDb
SLDaHDa
SLDaHDb
SLDaLDa
SLDaLDb
SLDaMDa
SLDaMDb
SLDaSDa
SLDaSDb
SLDaSLDa
SLDaSLDb
SLDaSUDa
SLDaSUDb
SLDaUDa
SLDaUDb
SLDbDDa
SLDbDDb
SLDbHDa
SLDbHDa
SLDbHDb
SLDbLDa
SLDbLDb
SLDbMDa
SLDbMDb
SLDbSDa
SLDbSDb
SLDbSLDa
SLDbSLDb
SLDbSUDa
SLDbSUDb
SLDbUDa
SLDbUDb
SLHaSLHa
SLHaSLHb
SLHbSLHa
SLHbSLHb
SU3x3aSU3x3a
SU3x3aSU3x3b
SU3x3bSU3x3a
SU3x3bSU3x3b
SUDaDDa
SUDaDDb
SUDaHDa
SUDaHDb
SUDaLDa
SUDaLDb
SUDaMDa
SUDaMDb
SUDaSDa
SUDaSDb
SUDaSLDa
SUDaSLDb
SUDaSUDa
SUDaSUDb
SUDaUDa
SUDaUDb
SUDbDDa
SUDbDDb
SUDbHDa
SUDbHDb
SUDbLDa
SUDbLDb
SUDbMDa
SUDbMDb
SUDbSDa
SUDbSDb
SUDbSLDa
SUDbSLDb
SUDbSUDa
SUDbSUDb
SUDbUDa
SUDbUDb
SUHaSUHa
SUHaSUHb
SUHbSUHa
SUHbSUHb
U3x3aU3x3a
U3x3aU3x3b
U3x3bU3x3a
U3x3bU3x3b
UDaDDa
UDaDDb
UDaHDa
UDaHDb
UDaLDa
UDaLDb
UDaMDa
UDaMDb
UDaSDa
UDaSDb
UDaSLDa
UDaSLDb
UDaSUDa
UDaSUDb
UDaUDa
UDaUDb
UDbDDa
UDbDDb
UDbHDa
UDbHDb
UDbLDa
UDbLDb
UDbMDa
UDbMDb
UDbSDa
UDbSDb
UDbSLDa
UDbSLDb
UDbSUDa
UDbSUDb
UDbUDa
UDbUDb
UHaUHa
UHaUHb
UHbUHa
UHbUHb

